// Place all the styles related to the bananas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hoge{
  foo: bar;
  hoge:piyo;
  
  color: #33333333;:
}
